<html>
    <head>
        <meta charset="UTF-8">
        <title>Arne's Pizzashop</title>
    </head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/cover.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <style id="holderjs-style" type="text/css"></style>
    <body>
        <div class="site-wrapper">

            <div class="site-wrapper-inner">

                <div class="cover-container">

                    <div class="inner cover">

                        <h1 class="cover-heading">Gefeliciteerd met uw bestelling!</h1>
                        <p class="lead">Uw pizza zal binnen de 60 minuten arriveren.</p>
                        <p class="lead">
                            <a href="index.php" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Terug</a>
                        </p>
                    </div>

                    <div class="mastfoot">
                        <div class="inner">

                        </div>
                    </div>

                </div>

            </div>

        </div>
        <script>

            $(document).ready(function() {
                //Your delay in milliseconds
                var delay = 2000;
                setTimeout(function() {
                    window.location.href = "index.php";
                }, delay);
            })
        </script>
    </body>
</html>