<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.php">Home</a>
            <a class="navbar-brand" href="pizzas.php">Pizzas</a>
            <a class="navbar-brand" href="dranken.php">Dranken</a>
            {% if gebruiker.beheerder == 1 %}
                <a class="navbar-brand" href="gebruikers.php">Gebruikers</a>
                <a class="navbar-brand" href="bestellingen.php">Bestellingen</a>
            {% endif %}
        </div>
        <div class="navbar-form navbar-right">
            <a href="winkelmandje.php" class="btn  btn-default">Winkelmandje <span class='badge'>{{aantal}}</span></a>
                {% if gebruiker == "" %}
                <a class="btn btn-default" href="registreer.php">Registreer</a>
                <a class="btn btn-default" href="login.php">Login</a>
            {% else %}
                <label class="btn btn-default active"><span class="glyphicon glyphicon-user"></span> Welkom {{gebruiker.gebruikersnaam|capitalize}}</label>
                <a href="logout.php" class="btn btn-default">Logout</a>

            {% endif %}
        </div>
    </div>
</div>