<html>
    <head>
        <meta charset="UTF-8">
        <title>Arne's Pizzashop</title>
    </head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/cover.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <style id="holderjs-style" type="text/css"></style>
    <body>
        <div class="site-wrapper">

            <div class="site-wrapper-inner">

                <div class="cover-container">

                    <div class="inner cover">
                        
                        <h1 class="cover-heading">"{{naam}}"</h1>
                        <p class="lead">Aangepast!</p>
                        <p class="lead">
                            <a href="index.php" class="btn btn-lg btn-default">Terug naar overzicht</a>
                        </p>
                    </div>

                    <div class="mastfoot">
                        <div class="inner">

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </body>
</html>